@font-face {
    font-family: Pirate;
    src: url(../assets/fonts/piecesofeight.ttf);
}

body {
    margin: 0px;
    background-image: url(../assets/images/background.png);
    background-size: cover;
}

h1, h2 {
    font-family: Pirate;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 75%;
    height: 75%;
    border-radius: 10px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
}

.button {
    background-color: rgb(49, 113, 233);
    text-decoration: none;
    border: 1px solid;
    border-color: rgb(49, 113, 233);
    margin-bottom: 2rem;
    font-family: Pirate;
    padding: 1rem;
    font-size: 20px;
    border-radius: 20px;
    color: white;
    transition: ease-in-out 0.5s;
}

.button:hover {
    background-color: white;
    color: black;
    border-color: black;
    transform: translateY(-4px);
    transition: ease-in-out 0.5s;
}

.box .boxdir {
    display: flex;
    flex-direction: row;
    padding-bottom: 2rem;
    
}

.box .boxdir .boxdir01 {
    width: 25%;
    height: 25%;
}

.box .boxdir .boxdir02 {
    width: 75%;
    height: 25%;
    margin-left: 2rem;
}

#video {
    padding-top: 2rem;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    color: black;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
}